body{
    background: darkslategray;
}
p{
    text-align: center;
}
.titulo-principal{
    padding-left: 30px;
    color: linen;
}
.titulo-secundario{
    text-align: center;
}
p#missao{
    font-size: 20px;
}
#banner{
    width: 100%;
}
.itens{
    font-style: italic;
}
.beneficios{
    background: dimgray;
    padding: 20px;

}
.principal{
    background: lightslategrey;
    padding: 30px;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 5%;
    margin-left: 20%;
}
.imgbeneficios{
    width: 50%;
}